KAFKA_BOOTSTRAP_SERVERS=localhost:9092
CONNECT_URL=http://localhost:8083
SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_DB=superstore
SOURCE_POSTGRES_USER=postgres
SOURCE_POSTGRES_PASSWORD=
