AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=CHANGE_ME
AIRFLOW_DB_NAME=airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DB=odoo
POSTGRES_SCHEMA=public
POSTGRES_USER=odoo
POSTGRES_PASSWORD=CHANGE_ME